.cache
.vscode
.venv

build-*
/build
install
papers

doc/*.pdf
doc/*.dvi
doc/**/*-converted-to.pdf
doc/**/*.tmp
doc/**/*.aux
doc/**/*.eps
doc/**/*.log
doc/**/*.bbl
doc/**/*.blg
doc/**/*.out
doc/**/*.toc
doc/**/*.nav
doc/**/*.pyg
doc/**/*.snm
doc/**/*.synctex.gz
doc/**/*.txt
doc/**/_minted*
doc/**/*.xmpi
doc/**/*.fdb_latexmk
doc/**/*.fls

external/libs
examples/a.out
